<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<head>
	<meta charset="UTF-8" />
	<title>Document</title>
</head>

<body th:fragment="footer">
	<footer class="px-5 py-2">
		<div class="row">
			<ul class="col-3">
				<li>
					<p class="h6">Về Chúng Tôi</p>
				</li>
				<li><a href="#">Giới thiệu về BlueHouse</a></li>
				<li>
					<a href="https://thuvienphapluat.vn/van-ban/Quyen-dan-su/Luat-68-2020-QH14-cu-tru-435315.aspx" target="blank">Luật cư trú</a>
				</li>
			</ul>
			<ul class="col-3">
				<li>
					<p class="h6">Trợ Giúp</p>
				</li>
				<li><a href="#">Chính sách bảo mật</a></li>
				<li><a href="#">Điều kiện và Điều khoản</a></li>
			</ul>

			<ul class="col-3">
				<li>
					<p class="h6">Liên Hệ</p>
				</li>
				<li>
					<p>Trụ Sở: ...</p>
				</li>
				<li>
					<p>Hotline : ...</p>
				</li>
				<li>
					<p>Email: ...@gmail.com</p>
				</li>
			</ul>

			<div class="col-3 d-flex flex-column justify-content-center">
				<div class="Icon">
					<a href="/">
						<span class="text-danger">/</span>
						<span class="text-dark">B l u e H o u s e</span>
					</a>
				</div>

				<div class="d-flex justify-content-center">
					<a href="#">
						<i class="p-2 fa-brands fa-x-twitter"></i>
					</a>
					<a href="#">
						<i class="p-2 fa-brands fa-facebook-f"></i>
					</a>
					<a href="#">
						<i class="p-2 fa-brands fa-instagram"></i>
					</a>
					<a href="https://github.com/DuxngNguyeexn/BlueHouse" target="blank">
						<i class="p-2 fa-brands fa-github"></i>
					</a>
				</div>
			</div>
		</div>
		<div class="border-top border-dark">
			© Copyright 2022, All Rights Reserved by FPT Academy
		</div>
	</footer>
</body>

</html>