<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>

<body th:fragment="modalDelete">

<!-- Add data-toggle="modal" data-target="#deleteModal" vào thẻ để sử dụng-->

	<!-- Modal -->
	<div class="modal fade" id="deleteModal" tabindex="-1"
		aria-hidden="true">
		<div class="modal-dialog modal-dialog-centered">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title text-danger" id="exampleModalLabel">Confirm
						Delete</h5>
					<button type="button" class="close" data-dismiss="modal"
						aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
				</div>
				<div class="modal-body">Are you sure delete Data!!!</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-secondary"
						data-dismiss="modal">Close</button>
					<button id="confirmDel" type="button" class="btn btn-danger">Delete</button>
				</div>
			</div>
		</div>
	</div>

</body>
</html>