.detail {
    height: 500px;
}
.nullActive{
    opacity: 0.5;
}
.rating {
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
}

.rating input {
    display: none;
}

.rating label {
    font-size: 2rem;
    color: lightgray;
    cursor: pointer;
}

.rating input:checked ~ label {
    color: gold;
}

.rating input:hover ~ label {
    color: gold;
}

.rating input:checked + label:hover,
.rating input:checked + label:hover ~ label,
.rating input:hover ~ label {
    color: darkorange;
}