.bg-dark {
  background-color: rgb(52, 58, 64) !important;
  margin-left: 0.8px;
  color: white;
  border-radius: 5px 5px 0px 0px;
}

.relative{
	position: relative;
}

.absolute{
	position: absolute !important;
	z-index: 1;
}
