<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8" />

    <link rel="icon" th:href="@{/common/img/logoBlueHouse.png}" type="image/x-icon" />
    <title>Document</title>

    <link rel="stylesheet" th:href="@{/common/css/login.css}" />
    <link rel="stylesheet" th:href="@{/lib/css/bootstrap.min.css}" />
    <script th:src="@{/lib/js/jquery-3.7.1.min.js}"></script>
</head>

<body>
    <div class="container-fluid p-0">
        <h2 class="head-icon">
            <span class="text-danger">/</span> B L U E H O U S E
        </h2>

        <div class="container mt-5 w-50">
            <form method="post" action="/login">
                <div class="text-center">
                    <h1>LOGIN BLUE HOUSE</h1>
                    <span>Welcome back. Please enter the information below to log in your
                        account.</span>
                </div>

                <div class="form-group mt-3">
                    <label for="username" class="h5 font-weight-bold">User Name</label>
                    <input type="text" class="form-control" id="username" name="username" placeholder="Please enter your account" />

                    <div class="h6 mess-error ml-1 mt-1 text-danger d-none" id="errorName">
                        Is not empty. Please!!!
                    </div>
                </div>

                <div class="form-group mt-3">
                    <div class="w-100 d-flex justify-content-between">
                        <label for="password" class="h5 font-weight-bold">Password</label>
                        <a href="forgot" class="text-primary">
                            <span>Forgot password</span>
                        </a>
                    </div>

                    <div class="input-group">
                        <input type="password" class="form-control border-right-0" id="password" name="password" placeholder="Please enter your password" />

                        <span class="input-group-text border-left-0 bg-white" style="border-radius: 0 0.25rem 0.25rem 0;">
                            <svg id="show-pass" xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-eye" viewBox="0 0 16 16">
                                <path
                                    d="M16 8s-3-5.5-8-5.5S0 8 0 8s3 5.5 8 5.5S16 8 16 8M1.173 8a13 13 0 0 1 1.66-2.043C4.12 4.668 5.88 3.5 8 3.5s3.879 1.168 5.168 2.457A13 13 0 0 1 14.828 8q-.086.13-.195.288c-.335.48-.83 1.12-1.465 1.755C11.879 11.332 10.119 12.5 8 12.5s-3.879-1.168-5.168-2.457A13 13 0 0 1 1.172 8z" />
                                <path d="M8 5.5a2.5 2.5 0 1 0 0 5 2.5 2.5 0 0 0 0-5M4.5 8a3.5 3.5 0 1 1 7 0 3.5 3.5 0 0 1-7 0" />
                            </svg>
                            <svg id="hide-pass" xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-eye-slash" viewBox="0 0 16 16">
                                <path d="M13.359 11.238C15.06 9.72 16 8 16 8s-3-5.5-8-5.5a7 7 0 0 0-2.79.588l.77.771A6 6 0 0 1 8 3.5c2.12 0 3.879 1.168 5.168 2.457A13 13 0 0 1 14.828 8q-.086.13-.195.288c-.335.48-.83 1.12-1.465 1.755q-.247.248-.517.486z" />
                                <path d="M11.297 9.176a3.5 3.5 0 0 0-4.474-4.474l.823.823a2.5 2.5 0 0 1 2.829 2.829zm-2.943 1.299.822.822a3.5 3.5 0 0 1-4.474-4.474l.823.823a2.5 2.5 0 0 0 2.829 2.829" />
                                <path d="M3.35 5.47q-.27.24-.518.487A13 13 0 0 0 1.172 8l.195.288c.335.48.83 1.12 1.465 1.755C4.121 11.332 5.881 12.5 8 12.5c.716 0 1.39-.133 2.02-.36l.77.772A7 7 0 0 1 8 13.5C3 13.5 0 8 0 8s.939-1.721 2.641-3.238l.708.709zm10.296 8.884-12-12 .708-.708 12 12z" />
                            </svg>
                        </span>
                    </div>

                    <div class="h6 mess-error ml-1 mt-1 text-danger d-none" id="errorPass">
                        Is not empty. Please!!!
                    </div>
                </div>

                <span>
                    <input type="checkbox" id="remember-me" name="remember-me" />
                    <label for="remember-me">Remember Me</label>
                </span>

                <div class="form-group mt-3">
                    <button type="submit" class="btn btn-primary w-100" onclick="check()">
                        <span class="h5">Login</span>
                    </button>
                </div>
            </form>
        </div>
    </div>
    <script th:src="@{/common/js/login.js}"></script>
    <script th:src="@{/lib/js/bootstrap.bundle.min.js}"></script>
</body>

</html>